

.addBlog {
    max-width: 700px;
    padding: 14px;
    margin: auto;
    background: yellow;
}

form {
    max-width: 100%;
    margin: 2rem auto;
}

form div {
    width: 100%;
    margin: 0.8rem 0;
}

form .author-date {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}

form div input {
    width: 100%;
    padding: 8px 10px;
}

form div textarea {
    width: 100%;
    padding: 8px 10px;
}

form button {
    padding: 8px 30px;
}