.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.navbar .my-logo {
    text-transform: uppercase;
    text-decoration: none;
}

.navbar .my-logo h2 {

}

.navbar .links {
    height: 100%;
}

.navbar .links a {
    text-decoration: none;
    color: black;
}

.navbar .links a:not(:last-child) {
    margin-right: 15px;
}