@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background: yellow;
  }

  .navbar {
    max-width: 950px;
    margin: auto;
    border-bottom: 1px solid lightgray;
    height: 70px;
    padding: 13px;
    display: flex;
    align-items: center;
  }
  
  
  .navbar .my-logo {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
  }
  
  .navbar .links {
    margin-left: auto;
  }
  
  .navbar .links a {
    text-decoration: none;
    font-size: 16px;
    color: black;
  }
  
  .navbar .links a:not(:last-child) {
    margin-right: 12px;
  }
  
  
  .content {
    max-width: 950px;
    margin: auto;
    padding: 35px 13px;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background: lightcoral;
  }

  .navbar {
    max-width: 950px;
    margin: auto;
    border-bottom: 1px solid lightgray;
    height: 70px;
    padding: 13px;
    display: flex;
    align-items: center;
  }
  
  
  .navbar .my-logo {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
  }
  
  .navbar .links {
    margin-left: auto;
  }
  
  .navbar .links a {
    text-decoration: none;
    font-size: 16px;
    color: black;
  }
  
  .navbar .links a:not(:last-child) {
    margin-right: 12px;
  }
  
  
  .content {
    max-width: 950px;
    margin: auto;
    padding: 35px 13px;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background: rgb(177, 222, 243);
  }
  
  .navbar {
    max-width: 950px;
    margin: auto;
    border-bottom: 1px solid lightgray;
    height: 70px;
    padding: 13px;
    display: flex;
    align-items: center;
  }
  
  
  .navbar .my-logo {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
  }
  
  .navbar .links {
    margin-left: auto;
  }
  
  .navbar .links a {
    text-decoration: none;
    font-size: 16px;
    color: black;
  }
  
  .navbar .links a:not(:last-child) {
    margin-right: 12px;
  }
  
  
  .content {
    max-width: 950px;
    margin: auto;
    padding: 35px 13px;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background: rgb(200, 245, 230);
  }
  
  .navbar {
    max-width: 950px;
    margin: auto;
    border-bottom: 1px solid lightgray;
    height: 70px;
    padding: 13px;
    display: flex;
    align-items: center;
  }
  
  
  .navbar .my-logo {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
  }
  
  .navbar .links {
    margin-left: auto;
  }
  
  .navbar .links a {
    text-decoration: none;
    font-size: 16px;
    color: black;
  }
  
  .navbar .links a:not(:last-child) {
    margin-right: 12px;
  }
  
  
  .content {
    max-width: 950px;
    margin: auto;
    padding: 35px 13px;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar {
    max-width: 950px;
    margin: auto;
    border-bottom: 1px solid lightgray;
    height: 70px;
    padding: 13px;
    display: flex;
    align-items: center;
  }
  
  
  .navbar .my-logo {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
  }
  
  .navbar .links {
    margin-left: auto;
  }
  
  .navbar .links a {
    text-decoration: none;
    font-size: 16px;
    color: black;
  }
  
  .navbar .links a:not(:last-child) {
    margin-right: 12px;
  }
  
  
  .content {
    max-width: 950px;
    margin: auto;
    padding: 35px 13px;
  }
}
